* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    background-image: url(2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.main {
    margin-left: 0px;
    width: 100%;
    float: left;
    height: 10vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: rgb(255, 102, 0);
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;

}

.menu {
    width: 400px;
    float: left;
    height: 70px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: rgb(255, 102, 0);;
}

.p1 {
    font-size: 35px;
    margin-top: 30px;
    padding: 40px;
    color: rgb(255, 102, 0);
}

.p2 {
    font-size: 30px;
    padding: 40px;
    color: #0ef;
}

.btns {
    display: flex;
}

.join-now a button {
    position: relative;
    width: 150px;
    height: 50px;
    font-family: 'Times New Roman';
    font-size: 20px;
    background: transparent;
    border-radius: 10px;
    border:1px solid #fff;
    outline: none;
    color: #fff;
    transition: 1s ease-in-out;
    margin-left: 10px;
}
.join-now a button:hover {
    background: #0ef;
    transition: 1s ease-in-out;
}

.home a button {
    position: relative;
    margin-left: 10px;
    width: 150px;
    height: 50px;
    font-family: 'Times New Roman';
    font-size: 20px;
    background: transparent;
    border-radius: 10px;
    border:1px solid #fff;
    outline: none;
    color: #fff;
    transition: 1s ease-in-out;
}
.home a button:hover {
    background: rgb(255, 102, 0);
    transition: 1s ease-in-out;
}
    
@media (max-width: 992px ) {
    ul li {
        margin-left: 55px;
        margin-top: 27px;
        font-size: 10px;
    }

    .p1 {
        font-size: 30px;
        margin-top: 30px;
        padding: 40px;
        color: rgb(255, 102, 0);
    }
    
    .p2 {
        font-size: 25px;
        padding: 40px;
        color: #0ef;
    }
    .join-now a button {
        position: relative;
        width: 125px;
        height: 34px;
        font-size: 15px;
        
    }
    
    .home a button {
        position: relative;
        width: 125px;
        height: 34px;
        font-size: 15px;
        
    }
}

@media (max-width: 786px ) {
    ul li {
        margin-left: 55px;
        margin-top: 27px;
        font-size: 8px;
    }

    .p1 {
        font-size: 25px;
        margin-top: 25px;
        padding: 30px;
        color: rgb(255, 102, 0);
    }
    
    .p2 {
        font-size: 20px;
        padding: 30px;
        color: #0ef;
    }
    .join-now a button {
        position: relative;
        width: 115px;
        height: 30px;
        font-size: 10px;
        
    }
    
    .home a button {
        position: relative;
        width: 115px;
        height: 30px;
        font-size: 10px;
        
    }
}

@media (max-width: 786px ) {
    ul li {
        margin-left: 47px;
        margin-top: 27px;
        font-size: 8px;
    }

    .p1 {
        font-size: 25px;
        margin-top: 25px;
        padding: 30px;
        color: rgb(255, 102, 0);
    }
    
    .p2 {
        font-size: 20px;
        padding: 30px;
        color: #0ef;
    }
    .join-now a button {
        position: relative;
        width: 115px;
        height: 30px;
        font-size: 10px;
        
    }
    
    .home a button {
        position: relative;
        width: 115px;
        height: 30px;
        font-size: 10px;
        
    }
}

@media (max-width: 600px ) {
    ul li {
        margin-left: 40px;
        margin-top: 27px;
        font-size: 5px;
    }

    .p1 {
        font-size: 20px;
        margin-top: 25px;
        padding: 20px;
        color: rgb(255, 102, 0);
    }
    
    .p2 {
        font-size: 15px;
        padding: 20px;
        color: #0ef;
    }
    .join-now a button {
        position: relative;
        width: 100px;
        height: 25px;
        font-size: 8px;
        
    }
    
    .home a button {
        position: relative;
        width: 100px;
        height: 25px;
        font-size: 8px;
        
    }
}